/* Using !important to override the Bootstrap default stylings. */

html,
body {
  background-color: #212121 !important;
  font-size: 12px !important;
}

.panel {
  margin-top: 30px !important;
  border: #303030 !important;
  position: relative;
}
.panel-heading {
  text-align: center;
}

.panel,
.panel-heading {
  background-color: #323232 !important;
}

h5 {
  color: #3e50b4 !important;
}

p {
  color: #ffffff !important;
}

.showMore {
  margin-top: 20px !important;
  margin: auto;
  display: block;
}

#loading {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

#header {
  text-align: center;
  position: relative;
  color: #ffffff;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
}

#media-border {
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
  margin-bottom: 20;
}

#media-border em {
  color: white;
}

#media-border img {
  margin-bottom: 8px;
}
